<!DOCTYPE html>
<html lang="en">
<head>
<title>All records</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    
    </script>
    
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="myclass"></div>
    <table class="table table-bordered table-striped" id="newtable">
       <div class="column"> 
        <thead>
            <th>Name</th>
            <th>Company</th>
            <th>Dept.</th>
            <th>Role</th>
            <th>Email</th>
            <th>Created_On</th>
            <th>Last_Update</th>
            <th>Active_Status</th>
            <th>Action<th>
        </thead>
        {% for book in books %}
           
            
            <tr>

                <td name="Name">{{ book.first_name }} {{book.last_name}}</td>
                <td name="Company">{{ book.company }}</td>
                <td name="Dept">{% for i in dept %}
                    {% if i.id == book.department %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}</td>
                <td name="Role"> {% for i in role %}
                    {% if i.id == book.role %}
                        {{ i.name }}
                    {% endif %}
                {% endfor %}</td>
                <td name="Email">{{ book.email }}</td>
                <td name="Created_On">{{ book.created_date }}</td>
                <td name="Last_Update">{{ book.update_date }}</td>
                <td name="Delete_Status">{{ book.is_deleted }}</td>
                <td name="Action" ><a href="/update/?email={{book.email}}">Edit</a> <br>
                    {% if book.is_deleted == 0 %}
                         <a href="/delete/?email={{book.email}}" id="ac" >Inactive</a>
                    {% else %}
                        <a href="/activate/?email={{book.email}}" id="ac" >Activate</a>
                    {% endif %}
                </td>
               
            </tr>
            
            {% endfor %}
        </div>
    </table>
    
  
</body>
</html>