<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>

</head>
<body>

<form action="/edit" method="POST">
  <div class="container">
    <h1>Update</h1>
    <p> update data.</p>
    <hr>
    <label for="id"><b>Email</b></label>
    <input type="text" value={{user.id}} name="id" required>

    <label for="email"><b>Email</b></label>
    <input type="text" value={{user.email}} name="email" required>


    <label for="first"><b>First Name</b></label>
    <input type="text" value={{user.first_name}} name="first" required>

    <label for="last"><b>Last Name</b></label>
    <input type="text" value={{user.last_name}} name="last" required>
    
    <label for="company"><b>Company Name</b></label>
    <input type="text" value={{user.company}} name="company" required>
  
    <label for="dept"><b>Select Department:</b></label>
    <select name="dept">
      <option value="IT"  {% if dept == 'IT' %} selected {% endif %}>IT</option>
      <option value="Managment" {% if dept == 'Managment' %} selected {% endif %}>Managment</option>
      <option value="Marketing" {% if dept == 'Marketing' %} selected {% endif %}>Marketing</option>
      <option value="Others" {% if dept == 'Others' %} selected {% endif %}>Others</option>
    </select><br>
    <br>
    
    <label for="role"><b>Select Role:</b></label><br>
    <input type="radio" name="role" value="Owner" {% if role == 'Owner' %} checked  {% endif %} > Owner
    <input type="radio" name="role" value="Manager"  {% if role == 'Manager' %} checked  {% endif %}>Manager
    <input type="radio" name="role" value="Others"  {% if role == 'Others' %} checked  {% endif %}> Others
    
    
   
    <p>By Clicking Update, all the recorde mentioned will be updated.</p>

    <button type="submit" class="registerbtn">Update</button>

  </div>
</form>

</body>
</html>